@use '../../../../styles/mixins';

$arrowRightIconPath: '/img/header/icons/arrow-right-icon.svg';

.serviceDropdown {
  background-color: #131313 !important;
  padding-bottom: 35px;
  position: absolute;
  top: calc(100% + 18px) !important;
  left: 15px;
  width: 270px;
  border-radius: 6px;

  @include mixins.xl {
    left: -50px !important;
    width: fit-content !important;
  }

  ul {
    // display: flex;
    // align-items: center;
    margin: 0 !important;
  }

  &_button {
    background-color: #000 !important;
    color: #fff !important;
    font-size: 16px !important;

    @include mixins.xl {
      padding: 0 !important;
      font-size: 24px !important;
      transition: all 0.4s ease !important;

      &:hover {
        scale: 1.05 !important;
      }
    }

    &:focus {
      box-shadow: none !important;
    }

    img {
      margin-left: 5px;
      transition: transform 1s ease;
    }
  }

  &_item {
    background-color: #131313 !important;
    color: #fff !important;
    width: 270px;
    font-size: 16px !important;

    &_lvl3 {
    }

    &:first-child {
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }

    span {
      display: block;
      width: 100%;
      padding: 10px 20px;
      border-bottom: 1px solid #515151;

      &:hover {
        border-bottom: 1px solid white;
      }
    }

    &_menu {
      background: url('#{$arrowRightIconPath}') no-repeat right center;
      background-size: 16px;
    }
  }

  &_lvl1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #131313 !important;
    color: white;
    width: 270px;
    // height: 100px !important;
    font-size: 16px;

    &__span {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 10px;
      padding: 10px;
      border-bottom: 1px solid #515151;
      background: url('#{$arrowRightIconPath}') no-repeat right center;
      background-size: 16px;

      &:hover {
        border-bottom: 1px solid #8d8d8d;
      }
    }
  }

  &_item_lvl1 {
    background-color: #131313 !important;
    color: white !important;
    width: 270px;
    font-size: 16px !important;
  }
}

.Submenu_submenu,
.Submenu_submenu_lvl3 {
  top: 0 !important;
  left: calc(100% + 2px);
}

.menu_cities {
  background-color: #fff !important;
  border-radius: 10px;
  padding: 12px;
  position: absolute;
  top: calc(100% + 18px) !important;
  left: 115px;
  width: 320px;

  li {
    padding: 0 !important;
  }

  div {
    display: flex;
    align-items: center;

    &:hover {
      flex-direction: row !important;
    }
  }

  input {
    background-color: #ededed;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    outline: none;

    &::placeholder {
      color: #999;
    }
  }

  .sity {
    background-color: #ededed;
    padding: 10px;
    border-radius: 5px;
    color: #303030;
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;

    &:hover {
      background-color: #d1d1d1;
    }
  }
}

.small {
  margin-left: 10px;
  font-size: 10px;
  color: #8d8d8d;
}

.lvl1_row {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
  margin-bottom: 20px;

  img {
    --size: 27px;
    width: var(--size);
    height: var(--size);
  }
}

.test ul {
  margin: 0 !important;
}
