@use '../../../styles/mixins';

.registrationPickPage {
  margin-top: 150px;
  margin-bottom: 100px;

  @include mixins.md {
    margin-top: 120px;
    margin-bottom: 30px;
  }

  &_title {
    font-weight: 400;
    font-size: 50px;
    color: #000000;
    text-align: center;

    @include mixins.md {
      font-size: 38px;
    }

    @include mixins.sm {
      font-size: 30px;
    }
  }

  &_block {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  /* Стили для RegistrationPickCard */
  .registrationPickCard {
    padding: 90px 0;
    color: #9E9B9B;
    width: 500px;
    background: #FAFAFA;
    border: 2px solid #C5C5C5;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 400px;

    @include mixins.md {
      max-width: 315px;
    }

    &:hover {
      transform: scale(1.02);

      @include mixins.md {
        transform: none;
      }
    }

    p {
      padding-top: 10px;
      width: 300px;
      margin: 0 auto;
    }
  }
}
