.modal {
  :global(.rs-modal-content) {
    border-radius: 10px;
    background: #fff;
    padding: 40px;
    text-align: center;
  }
}

.title {
  color: #2e2e2e;
  font-size: 28px;
  margin-bottom: 6px;
}

.info {
  margin-bottom: 18px;
  color: #595959;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input {
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  width: 240px;
  padding: 10px;
  border: 2px solid rgb(150, 150, 150);
  border-radius: 8px;
}

.error {
  color: #d32f2f;
  font-size: 14px;
  margin-bottom: 10px;
}

.button {
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  width: 240px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: #45a049;
  }
}
